---
- name: "Updating the guest operating system."
  args:
    warn: false
  command: "{{ item }}"
  with_items:
    - "tdnf -y update"
- name: "Installing additional packages."
  args:
    warn: false
  command: |
    tdnf -y install \
    minimal \
    logrotate \
    wget \
    git \
    unzip \
    tar \
    jq \
    parted \
    openssl-c_rehash
