# MacOS
## Ignore desktop services files.
**/.DS_Store

# HashiCorp Packer
## Ignore cache directories.
packer_cache/
## Ignore crash log files.
crash.log

# Configurations
## Ignore custom configurations.
config/
