#!/usr/bin/env bash
# Copyright 2023 VMware, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-2

set -e

follow_link() {
  FILE="$1"
  while [ -h "$FILE" ]; do
    # On Mac OS, readlink -f doesn't work.
    FILE="$(readlink "$FILE")"
  done
  echo "$FILE"
}

if [ "$1" == "--help" ] || [ "$1" == "-h" ]; then
  echo "Usage: script.sh [OPTIONS] [CONFIG_PATH]"
  echo ""
  echo "Options:"
  echo "  -h, --help    Show this help message and exit."
  echo "  -d, --debug   Run builds in debug mode."
  echo ""
  echo "Arguments:"
  echo "  CONFIG_PATH   Path to the configuration directory."
  echo ""
  echo "Examples:"
  echo "  ./build.sh"
  echo "  ./build.sh --help"
  echo "  ./build.sh --debug"
  echo "  ./build.sh config"
  echo "  ./build.sh us-west-1"
  echo "  ./build.sh --debug config"
  echo "  ./build.sh --debug us-west-1"
  exit 0
fi

if [ "$1" == "--debug" ] || [ "$1" == "-d" ]; then
  debug_mode=true
  debug_option="-debug"
  shift
else
  debug_mode=false
  debug_option=""
fi

SCRIPT_PATH=$(realpath "$(dirname "$(follow_link "$0")")")

if [ -n "$1" ]; then
  CONFIG_PATH=$(realpath "$1")
else
  CONFIG_PATH=$(realpath "${SCRIPT_PATH}/config")
fi

menu_banner=$(cat << "EOF"
    ____             __                ____        _ __    __     
   / __ \____ ______/ /_____  _____   / __ )__  __(_) /___/ /____ 
  / /_/ / __  / ___/ //_/ _ \/ ___/  / __  / / / / / / __  / ___/ 
 / ____/ /_/ / /__/ ,< /  __/ /     / /_/ / /_/ / / / /_/ (__  )  
/_/    \__,_/\___/_/|_|\___/_/     /_____/\__,_/_/_/\__,_/____/   
EOF
)

menu_message="Select a HashiCorp Packer build for VMware vSphere."

if [ "$debug_mode" = true ]; then
  menu_message+=" \e[31m(Debug Mode)\e[0m"
fi

{{- $func_index := 0 }}
{{ range $menu := (ds "build").menu -}}
{{ range $submenu := $menu.submenu -}}
{{ $func_index = math.Add $func_index 1 }}
menu_option_{{ $func_index }}() {
  INPUT_PATH="$SCRIPT_PATH"/{{ $submenu.build.path }}
  {{ $message := "" -}}
  {{- if (coll.Has $submenu "message") -}}
  {{- $message = $submenu.message -}}
  {{- else -}}
  {{- $message = printf "a %s Template" $submenu.entry -}}
  {{- end -}}
  echo -e "\nCONFIRM: Build {{ $message }} for VMware vSphere?"
  echo -e "\nContinue? (y/n)"
  read -r REPLY
  if [[ ! $REPLY =~ ^[Yy]$ ]]; then
    exit 1
  fi

  ### Build {{ $message }} for VMware vSphere. ###
  echo "Building {{ $message }} for VMware vSphere..."

  ### Initialize HashiCorp Packer and required plugins. ###
  echo "Initializing HashiCorp Packer and required plugins..."
  packer init "$INPUT_PATH"

  ### Start the Build. ###
  echo "Starting the build...."
  echo "packer build -force -on-error=ask $debug_option"
  packer build -force -on-error=ask $debug_option \
  {{- if (coll.Has $submenu.build "only") }}
      --only {{ join $submenu.build.only "," }} \
  {{- end -}}
  {{- if (coll.Has $menu.build "var_files") -}}
  {{ range $menu.build.var_files }}
      -var-file="$CONFIG_PATH/{{ . }}" \
  {{- end -}}
  {{- end -}}
  {{- if (coll.Has $submenu.build "var_files") -}}
  {{ range $submenu.build.var_files }}
      -var-file="$CONFIG_PATH/{{ . }}" \
  {{- end -}}
  {{- end }}
      "$INPUT_PATH"

  ### Build Complete. ###
  echo "Build Complete."
}
{{ end }}
{{ end -}}

press_enter() {
  cd "$SCRIPT_PATH"
  echo -n "Press Enter to continue."
  read -r
  clear
}

info() {
  echo "Copyright 2023 VMware, Inc. All rights reserved."
  echo "License: BSD-2"
  echo ""
  echo "GitHub Repository: github.com/vmware-samples/packer-examples-for-vsphere/"
  read -r
}

incorrect_selection() {
  echo "Invalid selection, please try again."
}

until [ "$selection" = "0" ]; do
  clear
  echo ""
  echo -e "$menu_banner"
  echo ""
  echo -e "$menu_message"
  echo ""
{{- $menu_index := 0 }}
{{- range $menu := (ds "build").menu }}
  echo "      {{ $menu.entry }}:"
  echo ""
{{- range $submenu := $menu.submenu -}}
{{ $menu_index = math.Add $menu_index 1 }}
{{- if (lt $menu_index 10) }}
  echo "    	 {{ $menu_index }}  -  {{ $submenu.entry }}"
{{- else }}
  echo "    	{{ $menu_index }}  -  {{ $submenu.entry }}"
{{- end }}
{{- end }}
  echo ""
{{- end }}
  echo "      Other:"
  echo ""
  echo "        I   -  Information"
  echo "        Q   -  Quit"
  echo ""
  read -r selection
  echo ""
  case $selection in
{{- $selection_index := 0 }}
{{- range $menu := (ds "build").menu }}
{{- range $submenu := $menu.submenu -}}
{{ $selection_index = math.Add $selection_index 1 }}
    {{ $selection_index }} ) clear ; menu_option_{{ $selection_index }} ; press_enter ;;
{{- end }}
{{- end }}
    i|I ) clear ; info ; press_enter ;;
    q|Q ) clear ; exit ;;
    * ) clear ; incorrect_selection ; press_enter ;;
  esac
done
