-----BEGIN CERTIFICATE-----
MIIDdTCCAl2gAwIBAgIQL1aIcxDVE5xMS8Eb9ZV9+TANBgkqhkiG9w0BAQsFADBN
MRIwEAYKCZImiZPyLGQBGRYCaW8xGDAWBgoJkiaJk/IsZAEZFghyYWlucG9sZTEd
MBsGA1UEAxMUcmFpbnBvbGUtcnBsLWRjMDEtQ0EwHhcNMjAwMzI0MjA1MTIyWhcN
MjUwMzI0MjEwMTIyWjBNMRIwEAYKCZImiZPyLGQBGRYCaW8xGDAWBgoJkiaJk/Is
ZAEZFghyYWlucG9sZTEdMBsGA1UEAxMUcmFpbnBvbGUtcnBsLWRjMDEtQ0EwggEi
MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQD1YxAWVTIZbju9MTGxeHWoYfmx
QDomQ5Ex0CDJjFjG8clms+O1pFalZ9jz1GUmdWzO5L0k+9xBsLvg3t6QX2rgvJaN
jpSCDfWRAXXE3nT27c0ucpkczbHe7vDge1eabZxmmsTbE2BxycuDoTJUcVio15hv
aIndF5Z9aOMOMTBN6qicEDlMm+UsfxJfCpn7e+a1xKgava5xoXU3kGoU0boojn+E
vHpJ18Xf5cwztbbMN6n/J2TRyyCfnGUw84C8wWEZEFNokK85EKpdK4IVuf6dJdYf
RhaHsI/UBdICFOt/lH5GuI6jnXW0Jde8hKAkou8KS3haLL/3V6gCgwSPYoY3AgMB
AAGjUTBPMAsGA1UdDwQEAwIBhjAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQH
3q4f8qQoinBGA0j5srdhNaA1LDAQBgkrBgEEAYI3FQEEAwIBADANBgkqhkiG9w0B
AQsFAAOCAQEA12j74wx9kGOhFhYlsEOIpaQ0Nl93GJJWqtZQRUlfJjIx2VqVSLwP
ZXL6vq3+ovlzwG419+UhhspJ7Fyuj5kSuLoO0dPXYyYk5Cs6nl991/x+8s6+xrNh
MFCpWQeXgkbMLMz7d1Mkv6q9xasK4zmnAaK6BnkW8XTmQcJJ/3f+NVuQE1d0HCGd
dxMdLWv+SJv3VL9mFKbQSj8MFIQu/7aLxNihFK3+nTq2UzdjndU+y9ukUyNCTxpI
oy+GO2UhNKHFJwblg28KzFQ0ncz/P33HjDCn1OwlBEwNTNyz+VtSQgbmO9xS5EeQ
pY2wV/3MxREAlGJTQxYEiBYwBR63yipBzQ==
-----END CERTIFICATE-----