-----BEGIN CERTIFICATE-----
MIIDpAYJKoZIhvcNAQcCoIIDlTCCA5ECAQExADALBgkqhkiG9w0BBwGgggN5MIID
dTCCAl2gAwIBAgIQL1aIcxDVE5xMS8Eb9ZV9+TANBgkqhkiG9w0BAQsFADBNMRIw
EAYKCZImiZPyLGQBGRYCaW8xGDAWBgoJkiaJk/IsZAEZFghyYWlucG9sZTEdMBsG
A1UEAxMUcmFpbnBvbGUtcnBsLWRjMDEtQ0EwHhcNMjAwMzI0MjA1MTIyWhcNMjUw
MzI0MjEwMTIyWjBNMRIwEAYKCZImiZPyLGQBGRYCaW8xGDAWBgoJkiaJk/IsZAEZ
FghyYWlucG9sZTEdMBsGA1UEAxMUcmFpbnBvbGUtcnBsLWRjMDEtQ0EwggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQD1YxAWVTIZbju9MTGxeHWoYfmxQDom
Q5Ex0CDJjFjG8clms+O1pFalZ9jz1GUmdWzO5L0k+9xBsLvg3t6QX2rgvJaNjpSC
DfWRAXXE3nT27c0ucpkczbHe7vDge1eabZxmmsTbE2BxycuDoTJUcVio15hvaInd
F5Z9aOMOMTBN6qicEDlMm+UsfxJfCpn7e+a1xKgava5xoXU3kGoU0boojn+EvHpJ
18Xf5cwztbbMN6n/J2TRyyCfnGUw84C8wWEZEFNokK85EKpdK4IVuf6dJdYfRhaH
sI/UBdICFOt/lH5GuI6jnXW0Jde8hKAkou8KS3haLL/3V6gCgwSPYoY3AgMBAAGj
UTBPMAsGA1UdDwQEAwIBhjAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBQH3q4f
8qQoinBGA0j5srdhNaA1LDAQBgkrBgEEAYI3FQEEAwIBADANBgkqhkiG9w0BAQsF
AAOCAQEA12j74wx9kGOhFhYlsEOIpaQ0Nl93GJJWqtZQRUlfJjIx2VqVSLwPZXL6
vq3+ovlzwG419+UhhspJ7Fyuj5kSuLoO0dPXYyYk5Cs6nl991/x+8s6+xrNhMFCp
WQeXgkbMLMz7d1Mkv6q9xasK4zmnAaK6BnkW8XTmQcJJ/3f+NVuQE1d0HCGddxMd
LWv+SJv3VL9mFKbQSj8MFIQu/7aLxNihFK3+nTq2UzdjndU+y9ukUyNCTxpIoy+G
O2UhNKHFJwblg28KzFQ0ncz/P33HjDCn1OwlBEwNTNyz+VtSQgbmO9xS5EeQpY2w
V/3MxREAlGJTQxYEiBYwBR63yipBzTEA
-----END CERTIFICATE-----