---
# Tasks for configuring SSH for public key authentication.
- name: "Configuring SSH for Public Key Authentication."
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PubkeyAuthentication'
    line: 'PubkeyAuthentication yes'

# Tasks for setting the hostname.
- name: "Setting the hostname."
  hostname:
    name: "localhost"

# Tasks for restarting the SSH daemon.
- name: "Restarting the SSH daemon."
  systemd:
    name: ssh
    state: restarted
    daemon_reload: true

# Tasks for disabling systemd-tmpfiles.
- name: "Disabling systemd-tmpfiles."
  replace:
    path: /usr/lib/tmpfiles.d/tmp.conf
    regexp: '^D'
    replace: '#D'

# Tasks for configuring cloud-init.
- name: "Configuring cloud-init."
  block:
    - file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/cloud/cloud.cfg.d/subiquity-disable-cloudinit-networking.cfg
        - /etc/cloud/cloud.cfg.d/99-installer.cfg
        - /etc/netplan/00-installer-config.yaml
    - lineinfile:
        path: /etc/cloud/cloud.cfg
        line: 'disable_vmware_customization: false'
        create: true
    - copy:
        content: 'datasource_list: [ VMware, OVF, None ]'
        dest: /etc/cloud/cloud.cfg.d/90_dpkg.cfg
  when: ansible_distribution == 'Ubuntu'

# Tasks for setting SSH keys to regenerate.
- name: "Setting SSH keys to regenerate."
  lineinfile:
    dest: /etc/rc.local
    create: true
    line: "#!/bin/bash\nif test -z \"$(find /etc/ssh/ -iname 'ssh_host_*_key*')\"; then\n    dpkg-reconfigure openssh-server\nfi\nexit 0\n"
    mode: '0755'
