---
# Tasks for setting custom facts.
- name: "Setting custom facts."
  set_fact:
    enable_cloudinit: "{{ enable_cloudinit | default('false') }}"

# Tasks for configuring SSH for public key authentication.
- name: "Configuring SSH for Public Key Authentication."
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PubkeyAuthentication'
    line: 'PubkeyAuthentication yes'

# Tasks for setting the hostname.
- name: "Setting the hostname."
  hostname:
    name: "localhost"

# Tasks for restarting the SSH daemon.
- name: "Restarting the SSH daemon."
  systemd:
    name: ssh
    state: restarted
    daemon_reload: true

# Tasks for disabling systemd-tmpfiles.
- name: "Disabling systemd-tmpfiles."
  replace:
    path: /usr/lib/tmpfiles.d/tmp.conf
    regexp: '^D'
    replace: '#D'

# Tasks for configuring cloud-init.
- name: "Configuring cloud-init."
  block:
    - name: "Message: Configuring cloud-init"
      debug:
        msg: "Configuring cloud-init"
    - file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/cloud/cloud.cfg.d/subiquity-disable-cloudinit-networking.cfg
        - /etc/cloud/cloud.cfg.d/99-installer.cfg
        - /etc/netplan/00-installer-config.yaml
      when: ansible_distribution == 'Ubuntu'
    - blockinfile:
        path: /etc/cloud/cloud.cfg
        block: |
          disable_vmware_customization: false
    - copy:
        content: 'datasource_list: [ VMware, OVF, None ]'
        dest: /etc/cloud/cloud.cfg.d/90_dpkg.cfg
  when: enable_cloudinit == 'true'
- name: "Replace dhcp with static for Debian"
  lineinfile:
    path: /etc/network/interfaces
    regexp: '^iface ens192 inet dhcp'
    state: absent
  when: enable_cloudinit == 'true' and ansible_distribution == 'Debian'

# Tasks for setting SSH keys to regenerate.
- name: "Setting SSH keys to regenerate."
  copy:
    dest: /etc/rc.local
    content: |
      #!/bin/bash
      if test -z "$(find /etc/ssh/ -iname 'ssh_host_*_key*')"; then
          dpkg-reconfigure openssh-server
      fi
      exit 0
    mode: 0755

# Tasks for force setting the guest operating system information for VMware Tools.
- name: "Setting guest operating system information for VMware Tools."
  blockinfile:
    path: /etc/vmware-tools/tools.conf
    block: |
      [guestosinfo]
      short-name = other5xLinux64Guest
    create: true
  when: ansible_distribution == 'Debian'
