---
- name: "Configure SSH for Public Key Authentication."
  shell: |
    sudo sed -i 's/.*PubkeyAuthentication.*/PubkeyAuthentication yes/' /etc/ssh/sshd_config
- name: "Setting hostname to localhost."
  shell: |
    cat /dev/null > /etc/hostname
    hostnamectl set-hostname localhost
- name: "Restarting the SSH daemon."
  shell: |
    sudo systemctl restart sshd
- name: "Disabling and clean tmp."
  shell: |
    sudo sed -i 's/D/#&/' /usr/lib/tmpfiles.d/tmp.conf
- name: "Setting SSH keys to regenerate on reboot, if neccessary."
  shell: |
    sudo tee /etc/rc.local << EOF
    #!/bin/bash
    test -f /etc/ssh/ssh_host_dsa_key || dpkg-reconfigure openssh-server
    exit 0
    EOF
    sudo chmod +x /etc/rc.local
- name: "Setting guest operating system information."
  shell: |
    sudo tee -a /etc/vmware-tools/tools.conf << EOF
    [guestosinfo]
    short-name = other5xLinux64Guest
    EOF
