[defaults]
stdout_callback = default
display_skipped_hosts = false
ansible_python_interpreter = /usr/bin/python3

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedKeyTypes=+ssh-rsa
scp_extra_args = "-O"
