---
name: "Code Quality"
on:
  push:
  pull_request:
jobs:
  superlinter:
    name: Super-Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - name: Lint Code
        uses: github/super-linter@45fc0d88288beee4701c62761281edfee85655d7 # v5.0.0
        env:
          FILTER_REGEX_EXCLUDE: "build.tmpl"
          IGNORE_GITIGNORED_FILES: true
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: "main"
          DISABLE_ERRORS: false
          VALIDATE_ANSIBLE: false
          VALIDATE_TERRAGRUNT: false
          VALIDATE_MARKDOWN: false
