mkdocs-git-revision-date-localized-plugin
mkdocs-markdownextradata-plugin
mkdocs-minify-plugin
mkdocs-open-in-new-tab
mkdocs-glightbox
mkdocs-rss-plugin
mkdocs-video
neoteroi-mkdocs
mkdocs-link-marker
