mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-markdownextradata-plugin==0.2.5
mkdocs-minify-plugin==0.8.0
mkdocs-open-in-new-tab==1.0.3
mkdocs-glightbox==0.3.7
mkdocs-rss-plugin==1.12.1
mkdocs-video==1.5.0
neoteroi-mkdocs==1.0.5
mkdocs-link-marker==0.1.3
